# Node
contracts/broadcast/
contracts/cache/
contracts/out/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/
out/
coverage/

# Foundry
cache/
broadcast/

# Environment
.env
.env.*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json